   .products {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-evenly;
       gap: .5rem;
   }
   
   .product {
       background-color: var(--PRODUCT-BGCOLOR);
       color: var(--PRODUCT-COLOR);
       padding: 0.5rem;
       margin: .5rem;
       border: 2px solid var(--PRODUCT-COLOR);
       border-radius: 20px;
       width: 15rem;
       /* width: 75vh; */
       text-align: center;
   }
   
   .products__li {
       list-style-type: none;
   }
   
   .product--price,
   .product--h3 {
       padding: .2rem;
       font-size: 1rem;
   }
   
   @media screen and (max-width: 600px) {
       .product--price,
       .product--desc {
           padding: .15rem;
           font-size: .5rem;
       }
       .addToCartBttn {
           font-size: .60rem;
       }
       .product--h3 {
           font-size: .75rem;
       }
   }