   /* .products {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       margin-bottom: 1em;
   } */
   
   .products {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-evenly;
       gap: 1rem;
   }
   
   .product {
       background-color: var(--PRODUCT-BGCOLOR);
       color: var(--PRODUCT-COLOR);
       padding: 0.5rem;
       margin: .5rem;
       border: 2px solid var(--PRODUCT-COLOR);
       border-radius: 20px;
       width: 75vh;
       text-align: center;
   }
   
   .products__li {
       list-style-type: none;
   }
   
   .product--price,
   .product--h3 {
       padding: .5rem;
       /* display: inline; */
   }